html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EAC9F5;
  }
  

  h1, h2, h3, h4, h5, h6{
    font-family: 'Bricolage Grotesque';
  }
  p, button, ul{
    font-family: 'Instrument Sans';
  }
  
  @keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  @keyframes header {
    from {
        opacity: 0;
        transform: translateX(-10%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }

  .highlight{
    font-weight: bold;
    color: #BE2202; 
  }
  
  .arrow {
    position: absolute;
    top: 25%;
    left: 10%;
    button{
      border: none;
      background: transparent;
    }
    img{
      padding: 20px;
    }
  }

  .arrow:hover{
    transform: scale(1.1);
  }
  
  .topContentNav{
    margin-top: 5%;
    h2, h5, p{
      opacity: 0;
      animation:  fade-in 1.3s ease-out 1s forwards;
      text-align: center;
    }
    h2, h5{
      margin: 1% 30%;
    }
    h5::before{
      content: '\25C9';
      padding-right: 10px;
      color:#BE2202
    }
    p{
      margin: 1% 35%;
    }
  }
  
  
  .contentOverview{
    opacity: 0;
    animation:  header 1.3s ease-out 1.5s forwards;
    margin: 2% 15%;
    display: grid;
    gap: 5%;
    align-content: space-evenly;
    grid-template-columns: repeat(2, 1fr);
    .sum1, .sum2, .sum3, .sum4, .sum5{
      align-items: center;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.491);
      border-radius: 30px;
      h5{
        padding: 10%;
        padding-bottom: 0;
        margin: 0;
      }
      p{
        padding: 10%;
        padding-top: 0;
        margin-top: 0px;
        margin-bottom: 30px;
      }
    }
    .sum1{
      grid-column: 1;
      grid-row: 1;
    }
    .sum2{
      grid-column: 1;
      grid-row: 2;
    }
    .sum3{
      grid-column: 2;
      grid-row: 2;
    }
    .sum5{
      background-color: transparent;
      grid-column: 3;
      grid-row: span 2;
    }
  }

  .description{
    margin: 5% 15%;
    ul li{
      list-style: none;
    }
    .problemStatement{
        margin-top: 10%;
    }
    .beginProto{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
          width: 350px;
        }
    }
    .designProcess{
      ul li{
        p{
          margin: 0px -10%;
        }
      }
      figure{
        justify-self: center;
        margin: 0px;
        img{
          margin: 0px -15%;
          width: 120%;
          border-radius: 30px;
        }
      }
      #IAimage{
        width: 75%;
      }
    }
  }

  .projectNavigation {
    display: grid;
    margin: 0px 15%;
    justify-content: space-between;
  }
  
  .seeNextProject{
    grid-column: 2;
    justify-content: right;
    align-items: baseline;
    h5{
      margin-bottom: 5px;
      font-weight: bold;
      text-align: right;
      padding-left: 50px;
      padding-right: 50px;
    }
    p{
      text-align: left;
      justify-self: right;
      margin-bottom: 20px;
      color: #BE2202;
      padding-left: 50px;
      padding-right: 50px;
    }
    .button{
      background-color: rgba(255, 255, 255, 0.582);
      border-radius: 30px;
      padding: 5px;
      width: 400px;
  }
  margin-bottom: 150px;
}

    .seePrevProject{
      display: none;
      grid-column: 1;
      grid-row: 1;
      justify-content: left;
      align-items: baseline;
      
      h5{
        margin-bottom: 5px;
        font-weight: bold;
        text-align: left;
        padding-left: 50px;
        padding-right: 50px;
      }
      p{
        padding-left: 50px;
        padding-right: 50px;
        text-align: right;
        justify-self: left;
        margin-bottom: 20px;
        color: #BE2202;
      }
      .button2{
        background-color: rgba(255, 255, 255, 0.582);
        border-radius: 30px;
        padding: 5px;
        width: 400px;
      }
      margin-bottom: 150px;
  }
