
.topBar{
    width: 100%;
    display: flex;
}

.options{
    display: flex;
    gap: 10px;
    justify-self: anchor-center;
}
    
.options button {
    width: 100px;
    background: none;
    border: solid transparent 2px;
}

.topBar .options button {
    transition: background-color;
}

.topBar .options button.active {
    background-color: #F9F0F9;
    border: solid black 2px;
    font-weight: bold;
}

.options button:hover {
    background-color: #F9F0F9;
    box-shadow: 0 0 0 0.5px black;
    transition: 0.3s;
}